<h1 class="text-center">NOS INSTITUTS</h1>

<% @institutes.each do |institute| %>
  <h3><%= link_to institute.name, institute_path(institute) %></h3>
  <img src="http://placehold.it/350x300">
<% end %>
