.banner {
  background-image: image-url("banner.jpg");
  background-size: cover;
  padding: 5%;
  position: relative;
  z-index: 1;
  // height:100vh;
  text-align: center;
  color: white;
  // .banner-content {
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
  // }
  h1 {
    font-size: 30px;
    font-family: Lora;
    margin:0px;
    z-index: 2;
  }
  .filter-blue {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #280100;
    opacity: 0.6;
    z-index: 0;
  }
  &-content {
    position: relative;
    z-index: 2;
  }
}


.banner-institute {
  // background-image: image-url("banner.jpg");
  // background-size: cover;
  padding: 5%;
  margin-bottom: 40px;
  text-align: center;
  color: black;
  height: 250px;
  // .banner-content {
    // position: relative;
    // top: 50%;
    // transform: translateY(-50%);
  // }
  h1 {
    font-size: 30px;
    font-family: Lora;
    margin:0px;
  }
}

.imgbg {
  height: 100%;
  width: 300px;
}


// .img-size {
//   width: 100%;
// }

// .row {
//   margin-left: -12.5px;
//   margin-right: -12.5px;
// }

.featured {
  text-align: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  .title {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.pro-access {
  position: relative;
  text-align: center;
  padding: 10px;
}

.arrow-container {
  font-size: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.margin-top-miness-50{
  margin-top:-50px;
}

.color-background{
  background-color:#000000;
  font-family: "Open Sans", "sans-serif";
  outline:none;
  &:hover{
    background-color:#000000;
    color: $gold;
  }
  &:focus{
    outline:none;
  }
}


