.image-user{
  border-radius:50%;
  width:100%;
  margin-left: 20px;
  margin-top: 35px;
}

.institute-infos{
  text-align: center;
  // position: absolute;
  // top: 90px;
  // right: 370px;
  color: white;
}

.gold{
  color:#F4CF52;
}


.gold-hover-black{
  color:#F4CF52;
  font-weight: 500;
  &:hover {
    color: black;
  }
}
