/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
