/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}

.border-top {
  border-top: 1px solid $gray-lighter;
}

.padding-small {
  padding: 1%;
}

.padding-medium {
  padding: 2.5%;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}
