/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 8em;
  padding-bottom: 8em;
}

.unpadded {
  padding: 0;
}

.border-top {
  border-top: 1px solid $gray-lighter;
}

.padding-small {
  padding: 1%;
}

.padding-medium {
  padding: 1.5%;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.strong {
  transform: bold;
}

.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}

.title-shadowed{
  text-shadow: 1px 1px #111111;
  letter-spacing: 3px;
}

.link-color-hover{
  color:black;
  &:hover{
    color:$gold;
  }
}

.optionnal-actions{
  margin: 10px;
  text-align: center;
}


.hover-gold{
  &:hover{
    color:$gold;
  }
}

.form-control-full {
  width: 100% !important;
  margin-right: 5px;
  margin-left: 5px;
}
