/* -------------------------------------
 * You killer button SASS module
 * ------------------------------------- */

.btn-black {
  color: white;
  background-color: black;

  line-height: 40px;
  padding: 0 10px;
  display: inline-block;
  margin: 10px;
  border-radius: 2px;

  font-weight: normal;
  font-size: 10px;
  letter-spacing: 1.5px;

  a{
    color: white;
    &:hover {
      color: $gold;
    }
  }

  &:hover{
    color: $gold;
  }
}


.btn-around-me{
  padding: 2px 150px;
  color: black;
  background-color: $gold;
  line-height: 40px;
  display: inline-block;
  margin: 10px;
  border-radius: 2px;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 1.5px;

  @media (max-width: 500px) {
    padding: 0 10px;
  }

  &:hover{
    color: white;
  }
}

#modify{
  padding: 2px 150px;
  color: black;
  background-color: $gold;
  line-height: 40px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 40px;
  border-radius: 2px;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 1.5px;

  @media (max-width: 500px) {
    padding: 0 10px;
  }

  &:hover{
    color: white;
  }
}


.btn-white {
  color: black;
  background-color: white;
  border: 1px solid $gray-lighter;

  line-height: 40px;
  padding: 0 10px;
  margin: 10px;
  border-radius: 2px;

  font-weight: normal;
  font-size: 10px;
  letter-spacing: 1.5px;

  &:hover{
    color: $gold;
  }
}

.btn-gold {
  color: black;
  background-color: $gold;
  line-height: 40px;
  padding: 0 10px;
  margin: 10px;
  border-radius: 2px;
  display: inline-block;

  font-weight: normal;
  font-size: 10px;
  letter-spacing: 1.5px;

  &:hover{
    background-color: black;
    color: white;
  }
}

.details {
  max-width: 200px;
  border-top: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-transform: italic;
  font-family: 'Lora';
  a {
    color: black;
    font-size: 13px;
    &:hover {
      color: $gold;
    }
  }
}

.margin-top{
  margin-top:65px;
}


.margin-top-25{
  margin-top: 25px
}


.margin-top-40{
  margin-top: 40px;
}



.link {
  color: $gray-light;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-transform: italic;
  font-family: 'Lora';
  a{
    font-size: 12px;
    color: $gray-light;
    &:hover {
      color: $gold;
    }
  }
}

#back-to-book{
  padding: 2px 150px;
  color: black;
  background-color: $gold;
  line-height: 40px;
  display: inline-block;
  margin: 30px;
  border-radius: 2px;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 1.5px;
  &:hover{
    color: white;
  }
}

#return-btn{
  padding: 3px 32px;
  margin-top: 32px;
}
