.calendar {
  max-width: 500px;
  background-color: white ;
  margin: 2%;
  border-radius: 1px;
  border-width: thin;
  padding: 10px;
  font-family: $header-font;
  text-align: center;
  font-size: 12px;
}
